@{
	var currentArea = (string?)ViewContext.RouteData.Values["areas"];
	var currentController = (string?)ViewContext.RouteData.Values["controller"];
	var currentAction = (string?)ViewContext.RouteData.Values["action"];

	bool isHome = currentArea is null && currentController == "Home" && currentAction == "Index";
	bool isAbout = currentArea is null && currentController == "Home" && currentAction == "About";
	bool isContact = currentArea is null && currentController == "Home" && currentAction == "Contact";
	bool isHelp = currentArea == "Help";
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Ch7Lab - @ViewData["Title"]</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body class="bg=light">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">My Website</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="mainNav">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link @(isHome ? "active" : "")" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link @(isAbout ? "active" : "")" asp-controller="Home" asp-action="About" asp-area="">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link @(isContact ? "active" : "")" asp-controller="Home" asp-action="Contact" asp-area="">Contact</a>
						</li>
					</ul>

					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link @(isHelp ? "active" : "")" asp-area="Help" asp-controller="Home" asp-action="Index">Help</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<header class="container py-4">
			@RenderSection("Header", required: true)
		</header>
		<main class="container pb-5">
			@RenderBody()
		</main>

		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
